<mat-progress-bar *ngIf="id && !task" mode="indeterminate"></mat-progress-bar>

<div class="task-edit">
    <h1>{{'' + titulo | truncar:50}} 
        <span *ngIf="task && !form?.get('tarefaCompletada')?.value && form?.get('dataVencimento')?.value && (form?.get('dataVencimento')?.value < HOJE)" style="color: red;">Atrasada</span>
    </h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field>
            <mat-label>Titulo:</mat-label>
            <input matInput appAutofocus formControlName="titulo" required placeholder="Digite um título">
            <mat-error *ngFor="let error of getErrors(form.get('titulo')!, 'Título')">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrição:</mat-label>
            <textarea matInput formControlName="descricao" required placeholder="Digite uma descrição"></textarea>
            <mat-error *ngFor="let error of getErrors(form.get('descricao')!, 'Descrição')">
                {{error}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Escolha uma data</mat-label>
            <input formControlName="dataVencimento" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngFor="let error of getErrors(form.get('dataVencimento')!, 'Data de vencimento')">
                {{error}}   
            </mat-error>
        </mat-form-field>
        
        <mat-slide-toggle formControlName="tarefaCompletada">Tarefa concluída</mat-slide-toggle>

        <div>
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
                {{ id ? "Atualizar" : "Criar" }}
            </button>
            <button mat-flat-button color="secondary" [routerLink]="['/tasks']">
                Cancelar
            </button>
        </div>
    </form>
</div>